nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    margin-bottom: 30px;
}

.logo {
    text-decoration: none;
}

.menu-item {
    margin-left: 15px;
    text-decoration: none;
}
.menu-item:hover{
    background-color: #5e5f5c;
    padding: 5px;
}

.pokemon {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.card_item {
    width: 380px;
    height: 400px;

}
.return{
    text-decoration: none;
}
.search{
    padding: 0 10px;
}

