*{
    font-family: 'Staatliches', sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    margin-bottom: 30px;
}

.pokemon-title {
    text-decoration: none;
}

.nav-title {
    margin-left: 15px;
    text-decoration: none;
}
.pokemon {
    text-decoration: none;
}

.card_item {
    width: 380px;
    height: 400px;
}
.return{
    text-decoration: none;
}
.search{
    padding: 0 10px;
}
.page-link{
    color: #ffc107;
}
.characters{
    border: 2px solid #0d6efd;
    border-radius: 20px;

}